

<div *ngIf="value==true">
  <div>
    <a class="left btn-floating bttn" (click)="backButton()"><i class="material-icons">chevron_left</i></a>
  </div>
  <div class="row">
  <form class="col s12">
    <div class="row" >
      <div class="input-field col s12">
        <input [(ngModel)]="cname" name="name" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="phoneNo" type="text" name="phoneNo">
      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="email" type="text" name="email">
      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="age" type="text" name="age">
      </div>
    </div>
    <a class="right waves-effect waves-light btn" (click)="updateCustomerDetails(cname,phoneNo,email,age)">Update</a>
  </form>
  </div>
</div>


<div class="col s12 m7">
<div *ngIf="value==false">
  <div>
    <a class="right btn-floating red btn-large add" [routerLink]="link.addCustomer"><i class="material-icons">person_add</i></a>
    <h1 class="title center">Customers</h1>
    <div class="row">
      <div class="col s12">

        <button class = "waves-effect waves-light btn" (click)="listView()">LIST View</button>
        <button class = "waves-effect waves-light btn" (click)="gridView()">GRID View</button>

      </div>
    </div>

  </div>
  <div class="collection card bigbox">
    <div class="row">
  <label *ngFor="let customer of customers">


    <div class="box">
      <br>
      <div class="heading"><b>{{customer.cname}}</b>
        <button class="cat">{{customer.age}}</button>
      </div>
      <hr>

      <br>
       <div class="card-stacked">
           <div class="desc">
             {{customer.phoneNo}}<br><br>{{customer.email}}<br><br>
             <hr>
            Posted By: {{customer.postedBy.name}}
           <div *ngIf="user.name==customer.postedBy.name">

             <button class = "left btn-floating bttn" (click)="deleteCustomer(customer)"><i class="material-icons">delete</i></button>
             <button class = "left btn-floating bttn" (click)="loadCustomer(customer,true)"><i class="material-icons">edit</i></button>
           </div>



           </div>
       </div>
    </div>

  </label>
    </div>
</div>
</div>
</div>

<router-outlet></router-outlet>


