<div class="row">
  <div class="col s12 m7">
    <div class="card layout-align-center">
      <div class="card-image">
        <img src="./assets/userpic.jpeg">
      </div>
      <div class="card-content">
        <p>Hi, I am the co-owner of the store SUVIDHA along with my partners.Below are my login details.</p>
      </div>

      <h3>Full Name:
        {{currentUser.fullName}}
        </h3>
      <h4>User Id:
        {{currentUser.name}}
      </h4>
       <h5>Password:
         {{currentUser.password}}
       </h5>



      <div class="card-action">
        <a href="https://www.google.com/search?q=suvidha+store&rlz=1C1YQLS_enIN753IN756&oq=suvidha+store&aqs=chrome..69i57j0l5.3097j0j8&sourceid=chrome&ie=UTF-8">To know more about store SUVIDHA</a>
      </div>
    </div>
  </div>
</div>
